body {
    font-family: 'Lobster', cursive;
    background-image: url(https://images.unsplash.com/photo-1607556049122-5e3874a25a1f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    color: black;
    font-size: 50px;
}

.sound {
    padding: 5px;
    font-family: 'Abel', sans-serif;
    background-color: seashell;
    margin: 15px;
    border-radius: .25rem;
    font-weight: bold;
}

.keys {
    padding: 50px;
    margin: 50px auto;
    text-align: center;
    display: flex;
}

.key {
    padding: 5px;
    flex: 10%;
}

kbd {
    border: 5px solid yellow;
    font-size: 30px;
    border-radius: .5rem;
}

.playing {
    font-size: 40px;
    border: 5px solid orange;
}

kbd:hover {
    font-size: 40px;
    border: 5px solid orange;
}

@media screen and (max-width: 850px) {
    .keys {
        display: block;
        text-align: center;
    }
    .sound {
        width: 70px;
    }
}
#contact{
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 50px;
    margin-top: 20px;
    display: flex;
    text-align: center;
    visibility: hidden;
}
.side1, .side2{
    width: 100px;
    height: 200px;
    margin: 5px;
    padding: 20px;
    flex: 50%;
    text-align: center;
}
#btn{
    text-align: center;
    margin-bottom: 40px;
    visibility: hidden;
}